.sheetBlock {
    border-style: solid;
    border-width: 1px;
    border-radius: 24px;
    margin-bottom: 2rem;
    padding: 2.5rem;
}

.sheetBlock h2 {
    margin-bottom: .5rem;
}

.sheetBlock-hero {
    border-style: solid;
    border-width: 1px;
    border-radius: 24px;
    margin-bottom: 2rem;
}

.sheetBlock-hero img {
    width: 100%;
    height: auto;
    border-radius: 24px;
}

.sheetBlock-hero .sheetBlock-hero__inner {
    padding: 1rem 2.5rem 2.5rem 2.5rem;
}

.header {
    position: fixed;
    width: 100%;
    z-index: 100;
}

.header .header__container {
    display: flex;
    align-content: center;
    justify-content: space-around;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    margin-bottom: 2rem;
    padding: 1rem;
}

.header .header__link {
    text-transform: uppercase;
    font-weight: 500;
}

.footer {
    display: flex;
    justify-content: center;
    gap: 2rem;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    margin-top: 2rem;
    padding: 2rem;
}

.header__mobile-button-drawer {
    position: fixed !important;
    bottom: 10px;
    right: 10px;
    z-index: 100;
}

.header__mobile-link-drawer {
    text-transform: capitalize;
}

@media(max-width: 601px) {
    .container {
        padding-top: 1rem;
    }
}

@media(min-width: 600px) {
    .container {
        padding-top: 5rem;
    }
}
