.sheetBlock {
    border-style: solid;
    border-width: 1px;
    border-radius: 24px;
    margin-bottom: 2rem;
}

.sheetBlock h2 {
    margin-bottom: .5rem;
}

.sheetBlock-hero {
    border-style: solid;
    border-width: 1px;
    border-radius: 24px;
    margin-bottom: 2rem;
}

.sheetBlock-hero img {
    width: 100%;
    height: auto;
    border-radius: 24px;
}

.sheetBlock-hero .sheetBlock-hero__inner {
    padding: 1.5rem 2.5rem 2.5rem 2.5rem;
}

.header {
    position: fixed;
    width: 100%;
    z-index: 100;
    top: -1px;
}

.header .header__container {
    display: flex;
    align-content: center;
    justify-content: space-around;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    border-style: solid;
    border-width: 1px;
    border-top: none !important;
    margin-bottom: 2rem;
    padding: 1rem;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.header .header__link {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

.footer {
    display: flex;
    justify-content: center;
    gap: 2rem;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    margin-top: 2rem;
    padding: 2rem;
}

.header__mobile-button-drawer {
    position: fixed !important;
    bottom: 10px;
    right: 10px;
    z-index: 100;
}

.header__mobile-button-home {
    position: fixed !important;
    bottom: 64px;
    right: 10px;
    z-index: 100;
}

.header__mobile-link-drawer {
    text-transform: capitalize;
    line-height: 35px !important;
}

.image-contests div {
    border-radius: 12px;
}

.image-contests img {
    border-radius: 12px;
}

.header__mobile-drawer div[role="dialog"] {
    max-height: 300px;
}

@media(max-width: 601px) {
    * {
        scroll-padding: 30px;
    }

    .container {
        padding-top: 1rem;
    }

    .sheetBlock {
        padding: 1.5rem;
    }
}

@media(min-width: 600px) {
    * {
        scroll-padding: 80px;
    }

    .container {
        padding-top: 5rem;
    }

    .sheetBlock {
        padding: 2.5rem;
    }
}
